*,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mullish";
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header__hero {
  background: url("/./img/header__backgraund.svg");
  border-radius: 10px;
}
.header .hero {
  padding: 55px;
}
.header .hero__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}
.header .hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  padding: 25px 0;
}
.header .hero__link {
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  background: #0E8784;
  border-radius: 6px;
  padding: 10px;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 33px;
}
.header__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}
.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header nav ul {
  display: flex;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
  }
  .header__hero {
    width: 100%;
  }
}
@media screen and (max-width: 475px) {
  .navbar {
    display: none;
    flex-direction: column;
  }
}
.collection .bacgraund {
  width: 1280px;
}
.collection__item {
  position: relative;
  margin-top: 10px;
}
.collection__list {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.collection .item__img {
  position: absolute;
  bottom: 170px;
}
.collection .item__img__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}
.collection .item__img__text {
  padding: 20px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}

@media screen and (max-width: 768px) {
  .collection {
    width: 100%;
  }
  .bacgraund {
    width: 100px;
  }
  .collection__item {
    width: 100%;
    position: none;
  }
}
@media screen and (max-width: 450px) {
  .collection__list {
    display: flex;
    flex-direction: column;
  }
  .collection__item {
    position: none;
    flex-direction: column;
  }
}
.choose {
  width: 1280px;
  margin-top: 90px;
  background: #2C343E;
  border-radius: 10px;
  position: relative;
  margin-bottom: 250px;
  height: 528px;
}
.choose__hero__title {
  padding: 90px 0;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
}
.choose__hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.choose__list {
  margin-left: 170px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 346px;
  justify-content: center;
  gap: 30px;
}
.choose__item {
  width: 246px;
  height: 300px;
  background: #0E8784;
  border-radius: 8px;
}
.choose__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
}
.choose__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
}
.choose__img {
  margin-left: 100px;
  padding: 10px 0;
}

@media screen and (max-width: 768px) {
  .choose {
    width: 100%;
  }
  .choose__list {
    margin-right: 180px;
    position: sticky;
  }
}
@media screen and (max-width: 460px) {
  .choose__list {
    position: none;
    flex-direction: column;
  }
}
.works__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
.works__tile {
  padding: 90px 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
}
.works .sircle__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 220px;
}
.works .sircle__div .sircle {
  width: 31px;
  height: 31px;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  border-radius: 50%;
}
.works .hr {
  width: 500px;
  color: blanchedalmond;
}
.works__img {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}
.works__item__title {
  padding: 20px 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}
.works__link {
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  padding: 15px 31px;
  background: #0E8784;
  border-radius: 6px;
}

@media screen and (max-width: 768px) {
  .works {
    width: 100%;
  }
}
@media screen and (max-width: 475px) {
  .works {
    margin-top: 800px;
  }
  .works__list {
    flex-direction: column;
  }
  .sircle {
    flex-direction: column;
  }
}
.footer {
  width: 1280px;
  margin-top: 20px;
  padding: 10px 0;
  background: #2C343E;
}
.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
  }
}
@media screen and (max-width: 475px) {
  .footer__list {
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
